/* REMOVE DEFAULT STYLES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
/* //////////////// */

/* PAGE WIDE STYLING */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* //////////////////////// */

/* REUSABLE STYLE COMBINATIONS */

.centered-section {
  padding: 5rem 10%;
}
.section-heading {
  font-family: 'Courier New', Courier, monospace;
  color: #6819ff;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.buttons {
  background-color: #6819ff;
  color: #fffcff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
.buttons:hover {
  background-color: #0f1922;
}
/* END OF REUSABLE STYLE COMBINATIONS */

/* START OF HEADER */
header {
  background-color: #6819ff;
  color: #fffcff;
  padding: 0.1rem 5% 5rem;
  height: 100vh;
  margin-top: 0;
}
header a {
  color: #fffcff;
}

/* START OF NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #6819ff;
  position: sticky;
  z-index: 1;
  top: 0;
}
.logo a {
  font-size: 1.5rem;
  color: #0f1922;
}
.logo a:hover {
  color: #fffcff;
}
.nav-list {
  display: flex;
  gap: 0.3rem;
}
.nav-item a {
  font-size: 0.7rem;
  font-weight: 600;
  color: #fffcff;
}
.nav-item a:hover {
  color: #0f1922;
}
/* END OF NAV BAR */
/* START OF BACK TO TOP BUTTON */
.back-to-top-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.back-to-top-button {
  font-size: 1.5rem;
  color: #b95ded;
}
.back-to-top-button:hover {
  color: #1f2831;
}
/* START OF BACK TO TOP BUTTON MEDIA QUERIES */
@media screen and (min-width: 425px) {
  .back-to-top-container {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}
/* END OF BACK TO TOP BUTTON MEDIA QUERIES */
/* END OF BACK TO TOP BUTTON */

/* START OF HERO SECTION */

.hero-section {
  text-align: center;
  margin: 15% 0;
}
.hero-text {
  margin-bottom: 3rem;
}
.hero-text p {
  margin-bottom: 0.6rem;
}
.intro {
  font-size: 1.3rem;
}

.current-role {
  font-size: 1.9rem;
  font-weight: 900;
}
.my-name {
  font-size: 2.7rem;
  font-weight: 900;
}

.hero-projects-link {
  border: 2px solid #fffcff;
  padding: 0.7rem 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.hero-projects-link:hover {
  color: #fffcff;
  border-color: #0f1922;
  background-color: #0f1922;
}
.hero-projects-link-container a {
  margin-right: 1.5rem;
}
/* END OF HERO SECTION  */
/* START OF HEADER AND NAV BAR MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .nav-item a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 425px) {
  .nav-item a {
    font-size: 0.9rem;
    font-weight: normal;
  }
  .nav-list {
    gap: 0.7rem;
  }
  .intro {
    font-size: 2rem;
  }
  .my-name {
    font-size: 3.5rem;
  }
  .current-role {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-item a {
    font-size: 1rem;
  }
  .nav-list {
    gap: 1.5rem;
  }
  .intro {
    font-size: 2.5rem;
  }
  .my-name {
    font-size: 4.5rem;
  }
  .current-role {
    font-size: 3rem;
  }
  .hero-projects-link {
    font-size: 1.1rem;
  }
}
/* END OF HEADER MEDIA QUERIES */
/* END OF HEADER */

/* START OF ABOUT SECTION */
.about-image {
  width: 60%;
  border-radius: 0.5rem;
  margin: 0 auto 3rem;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.about-text {
  margin-bottom: 3rem;
  line-height: 1.4rem;
}
.technologies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem 1rem;
  text-align: center;
}
.tech-used {
  margin-bottom: 3rem;
  font-weight: 500;
}

.technology i {
  font-size: 2rem;
  color: #fffcff;
  background-color: #0f1922;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
/* START ABOUT SECTION MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .about-text {
    max-width: 85%;
  }
  .about-image {
    max-width: 50%;
  }
  .technology i {
    font-size: 3.5rem;
  }
  .technologies {
    text-align: center;
  }
  .technologies-container {
    gap: 2rem;
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-image {
    margin: 0;
    max-width: 70%;
  }
  .technology i {
    font-size: 3rem;
  }
}
/* END ABOUT SECTION MEDIA QUERIES */
/* END OF ABOUT SECTION */

/* START OF PROJECTS SECTION */
.project-section {
  background-color: #0f1922;
  color: #0f1922;
}
.project-section .section-heading-text {
  color: #fffcff;
}
.project-container {
  max-width: 35rem;
  margin: 0 auto 5rem 0;
}

.project-image {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.project-details-container {
  background-color: #fffdfc;
  padding: 3rem 3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.project-name {
  font-weight: 600;
  margin-bottom: 1rem;
}
.project-description {
  margin-bottom: 1rem;
}
.project-description li {
  list-style: circle;
}
.project-technologies-container {
  /* display: flex; */
  margin-bottom: 3rem;
}
.project-technologies {
  font-weight: 500;

  color: #6819ff;
  margin-top: 1rem;
}
.technology {
  color: #0f1922;
  margin-right: 1.5rem;
}
.technology img {
  width: 5rem;
}

.project-link {
  margin-right: 1rem;
}
.all-projects-container {
  display: flex;
  flex-direction: column;
}

/* START OF PROJECTS MEDIA QUERIES */

/* END OF PROJECTS MEDIA QUERIES */
@media screen and (min-width: 425px) {
  .project-image {
    height: 17rem;
  }

  .project-details-container {
    padding: 2rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .all-projects-container {
    flex-direction: row;
    gap: 2rem;
  }
}
/* END OF PROJECTS SECTION */

/* START OF WORK EXPERIENCE AND EDUCATION SECTION */

/* WORK SECTION */
.work-experience-container {
  margin-bottom: 2rem;
  max-width: 700px;
}
.job-details {
  margin-bottom: 1.2rem;
}
.job-title,
.qualification {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.employer,
.dates {
  font-family: 'Courier New', Courier, monospace;
}
.task {
  margin-bottom: 0.6rem;
}
.task-icon {
  font-size: 0.5rem;
  margin-right: 0.5rem;
}
/* EDUCATION SECTION */
.education-section {
  margin-top: 0;
  /* background-color: orange; */
  padding: 0 10%;
}
.education-container {
  margin-bottom: 2rem;
  min-width: 17rem;
}
.institution {
  font-family: 'Courier New', Courier, monospace;
}

/* START OF WORK EXPERINCE AND EDUCATION MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .education-items {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
  }
}
/* END OF WORK EXPERINCE AND EDUCATION MEDIA QUERIES */
/* END OF WORK EXPERIENCE AND EDUCATION SECTION */

/* START OF CONTACTS SECTION */
.CTA-question {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.CTA {
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
  width: 90%;
}
.email-address {
  font-size: 0.9rem;
}
.email-address i {
  margin-right: 1rem;
  margin-bottom: 3rem;
}
.contacts-section {
  background-color: #0f1922;
  color: #fffcff;
}
.contacts-heading {
  color: #fffcff;
}
.form-input-container input {
  height: 1.5rem;
}
select {
  height: 3rem;
}

.form-input-container input,
textarea,
.form-input-container select {
  padding: 0.8rem;
  color: #fffcff;
  background-color: #1f2831;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}
textarea {
  min-height: 7rem;
}
label {
  margin-bottom: 0.6rem;
}
.form-input-container,
.message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.message-box {
  margin-bottom: 4rem;
}
form {
  padding: 3rem 2rem 2rem;
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
}
/* START OF CONTACTS MEDIA QUERIES */
@media screen and (min-width: 425px) {
  .CTA-question {
    font-size: 1.7rem;
  }
  .CTA {
    margin-bottom: 1.5rem;
  }
  .email-address {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .CTA {
    width: 60%;
  }
}
/* END OF CONTACTS MEDIA QUERIES */
/* END OF CONTACTS SECTION */
/* START OF FOOTER SECTION */
footer {
  background-color: #0f1922;
  text-align: center;
  color: #fffcff;
  padding: 1.5rem 0;
}
.footer-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 0.7rem;
  gap: 2rem;
}
.footer-social-icons a {
  color: #fffcff;
}
.footer-social-icons a:hover {
  color: #6819ff;
}
footer p {
  font-size: 0.8rem;
}
/* END OF FOOTER SECTION */
