/* REMOVE DEFAULT STYLES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
/* //////////////// */

/* PAGE WIDE STYLING */
body {
  padding: 0 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* //////////////////////// */

/* REUSABLE STYLE COMBINATIONS */

/* END OF REUSABLE STYLE COMBINATIONS */

/* START OF NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav-list {
  display: flex;
  gap: 0.3rem;
}
.nav-item {
  font-size: 0.6rem;
}
/* END OF NAV BAR */
